/** --------------------------------------------------------------------------------------------------------
 * GENERAL STYLES
** -------------------------------------------------------------------------------------------------------*/

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 3.5rem;
}

textarea {
    margin: 20px 0 20px 0;
}

code {
    background: #eee;
    padding: 3px 8px;
    border: 1px solid #555;
    border-radius: 10%;
    color: black;
    margin: 0px 10px;
}

.alert-light {
    color: black;
    background: #fafafa;
}

/* Column header (also heads history column) */
.col-header {
    font-weight: bold;
    font-size: 120%;
    padding: 10px 0px 8px 3px;
}

/** --------------------------------------------------------------------------------------------------------
 * NAVIGATION
** -------------------------------------------------------------------------------------------------------*/

.navbar {
    margin-bottom: .5em;
    font-size: 90%;
}

.navbar a {
    color: white;
    margin 0px;
}

.navbar a:hover {
    color: red;
}

.nav-stock-link {
    padding: 0px 5px 10px 0px;
}

.nav-item {
    border-radius: 20px;
    text-align: center;
    line-height: 1.1em;
}

.nav-item .active {
    background: #777;
    color: white;
    border-radius: 15px;
}

.nav-item .aging-total {
    font-size: 85%; 
    color: #ddd;
}

/** --------------------------------------------------------------------------------------------------------
 * LEFT COLUMN: ACCOUNT LIST
** -------------------------------------------------------------------------------------------------------*/

.left-column { 
    font-family: 'Roboto Mono', monospace;
}

.account-list {
    list-style-type: none;
    padding-left: 0;
    font-size: 70%;
    color: #aaa;
}

.account-list-item {
    margin-top: 3px;
    border-bottom: 1px solid #f3f3f3;
}

.account-list-item a {
    color: black;

}

.account-list-days-late {
    display: inline;
    margin: 0 10px 0 10px;
}

.account-list-bal-due {
    float: right;
}

/** --------------------------------------------------------------------------------------------------------
 * MIDDLE COLUMN: ACCOUNT INFO
** -------------------------------------------------------------------------------------------------------*/

#stock-pond-warning {
    display: none;
}

.account-info {
    font-size: 110%;
}

/* Sticky notes! */
.sticky-note {
    font-size: 100%;
    padding: 1em;
    margin: 20px 0px 20px 0px;
    background: #fffdc9;
}

.sticky-delete {
    float: right;
    margin-top: -1em;
    margin-right: -0.4em;
    font-weight: bold;
    clear: left;
    font-size: 120%;
}

.sticky-note-info {
    font-size: 80%;
    display: block;
    text-align: right;
}

.account-right {
text-align: right;    
}

.autopay-alert {
    color: red;
    font-weight: bold;
}

/** --------------------------------------------------------------------------------------------------------
 * CONTACT ACTION ROW
** -------------------------------------------------------------------------------------------------------*/


.action {
    margin-top: 20px;
}

.action-options, .action-calendar {
    display: none;
}

/* The textarea */
#ctac_note {
    width: 100%;
    height: 100px;
}

.contact-save {
    text-align: right;
}

/** --------------------------------------------------------------------------------------------------------
 * RIGHT COLUMN: ACCOUNT HISTORY
** -------------------------------------------------------------------------------------------------------*/

 .history-item {
    margin-bottom: 10px;
 }

 .history-action {
    font-size: 90%;
    color: #000;
    font-weight: bold;
 }

.history-date {
    float: right;
}

.history-note {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 75%;
    color: #999;
}

/** --------------------------------------------------------------------------------------------------------
 * POND STOCKER PAGE
** -------------------------------------------------------------------------------------------------------*/

.pond-stock {
    font-size: 120%;
    padding-bottom: 200px;
}

.pond-stock-section {
    margin: 30px 0 40px 0;
    border-left: 5px solid teal;
    padding-left: 20px;
}

.payment-list {
    list-style: none;
    padding-left: 0;
}

#payment-list-title {
    border: 0px solid #ddd;
    padding: 3px 5px;
    margin-top: 5px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 65%;
    background: #edfeff;
    font-weight: bold;
}

.payment-list-item {
    border: 0px solid #ddd;
    padding: 3px 5px;
    margin-top: 5px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 65%;
    background: #edfeff;
}

.payment-delete {
    font-size: 90%;
}

#get-aimsi-instructions {
    cursor: pointer;
    font-size: 90%;
    color: #007bff
}

#aimsi-instructions {
    display: none;
}

#aimsi-instructions li {
    margin-top: 20px;
}

/* The fishes pastebox */
#fishes-pastebox {
    width: 100%;
    height: 200px;
}

.payment-delete {
    cursor: pointer;
    float: right;
}

#no-more-payments {
    display: none;
}

/** --------------------------------------------------------------------------------------------------------
 * EMAILER PAGE
** -------------------------------------------------------------------------------------------------------*/

/* Uses some pond-stock classes */

.mass-mailer-batch {
    margin-bottom: 30px;
}

.mass-mailer-email {    
    font-family: 'IBM Plex Mono', monospace;
    font-size: 70%;
    margin-left: 30px; 
    border-left: 2px solid #aaa;
    background: #fafafa;
    padding: 20px;
}
